html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.front-header {
    position: absolute;
    top: 0;
    height: 50px;
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    border-bottom: 1px solid darkgrey;
}

.content {
    text-align: center;
}

.admin-sidebar {
    margin-top: 42px !important
}
